* ,*::before, *::after  {
    box-sizing: border-box;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #777F96, #0A1647);
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
    
    
   
    
}
.container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255, 255, .75);
    
    
    

}

.container > button:hover{
    background-color: rgba(255,255, 255, .95);
}

.span-two1{
    grid-column: span 2;
}
.span-two2{
    grid-column: span 2;
    border-radius: 0 0 30px 0px;
}

.output{
    grid-column: 1 / -1; /* spans the entire width of the container */
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 30px 30px 0px 0px; /* Set the desired border radius */
    
}

.output .previous-operand{
    color: rgba(255,255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

.onlyForLeftBorderRadious{
 border-radius:   0 0 0 30px;
}